* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
  .header #header-main .img2 {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .header #header-top {
    display: none;
  }
  .header #header-main .location {
    display: none;
  }
  .header #header-main .img1 {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .site-footer {
    margin-top: 115px;
  }
  .site-footer #footer-iconboxes {
    padding: 35px 0;
  }
  .site-footer #footer-iconboxes .col {
    border-right: 1px solid #e4e5ee;
  }
  .site-footer #footer-subscribe .subscribe-content {
    padding: 70px 0;
  }
  .site-footer #footer-subscribe .subscribe-image {
    justify-content: end;
    align-items: end;
  }
  .site-footer #footer-subscribe .subscribe-input {
    height: 62px;
  }
  .site-footer #footer-widgets .border-enable {
    padding: 100px 15px;
  }
  .site-footer #footer-bottom .site-grid-end {
    display: flex;
    justify-content: end;
  }
  .site-footer #footer-contacts .site-social {
    justify-content: start;
  }
  .site-footer #footer-contacts .site-mobile-app {
    justify-content: end;
  }
}
@media screen and (max-width: 991px) {
  .site-footer {
    margin-top: 40px;
  }
  .site-footer #footer-iconboxes {
    padding: 20px 0;
  }
  .site-footer #footer-subscribe .subscribe-content {
    padding: 40px 0;
  }
  .site-footer #footer-subscribe .subscribe-image {
    justify-content: center;
  }
  .site-footer #footer-subscribe .subscribe-input {
    height: 48px;
  }
  .site-footer #footer-widgets .border-enable {
    padding: 40px 15px;
  }
  .site-footer #footer-bottom .site-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding: 0 15px;
  }
  .site-footer #footer-contacts .site-social {
    justify-content: center;
  }
  .site-footer #footer-contacts .site-mobile-app {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .header #header-main {
    padding: 30px 0;
  }
}
@media screen and (max-width: 767px) {
  #header-main {
    padding: 10px 0;
  }
  #header-main .header-search {
    display: none;
  }
  #header-main .profil-icon {
    display: none;
  }
}
.active {
  display: block !important;
}

.sidebar {
  display: none;
  background-color: white;
  z-index: 5;
  position: fixed;
  width: 350px;
  height: 100%;
}
.sidebar .custom-sidebar {
  height: 100%;
}
.sidebar .custom-sidebar .sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px;
}
.sidebar .custom-sidebar .sidebar-header .logo-img img {
  width: 127px;
}
.sidebar .custom-sidebar .sidebar-header .close-sidebar {
  font-size: 20px;
}
.sidebar .custom-sidebar .sidebar-main .site-location {
  padding: 20px 20px 10px;
}
.sidebar .custom-sidebar .sidebar-main .site-location .location {
  border: 1px solid #d9d9e9;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sidebar .custom-sidebar .sidebar-main .site-location .location a {
  text-decoration: none;
  min-height: 60px;
}
.sidebar .custom-sidebar .sidebar-main .site-location .location a span {
  font-size: 10px;
  opacity: 0.5;
  color: #3e445a;
}
.sidebar .custom-sidebar .sidebar-main .site-location .location a .current-location {
  font-size: 14px;
  font-weight: 600;
  color: #233a95;
  padding-right: 20px;
}
.sidebar .custom-sidebar .sidebar-main .site-location .location i {
  font-size: 12px;
}
.sidebar .custom-sidebar .sidebar-main .all-categories .categories-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  height: 50px;
  padding: 0 20px;
  color: #fff;
  background-color: #2bbef9;
  border-radius: 7px;
  margin: 10px 20px 15px;
}
.sidebar .custom-sidebar .sidebar-main .all-categories .active {
  display: block !important;
}
.sidebar .custom-sidebar .sidebar-main .all-categories .categories-menu {
  display: none;
}
.sidebar .custom-sidebar .sidebar-main .all-categories .categories-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar .custom-sidebar .sidebar-main .all-categories .categories-menu ul li a {
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 7px 20px;
  font-size: 14px;
}
.sidebar .custom-sidebar .sidebar-main .all-categories .categories-menu ul li a i {
  font-size: 18px;
  margin-right: 15px;
  opacity: 0.7;
  color: #2bbef9;
}
.sidebar .custom-sidebar .sidebar-main .all-categories .categories-menu ul .li-menu {
  border-top: 1px solid #d9d9e9;
  padding-top: 18px;
  margin-top: 18px;
}
.sidebar .custom-sidebar .sidebar-main .canvas-title {
  padding: 20px 20px 0;
  font-size: 13px;
  opacity: 0.3;
  font-weight: 500;
}
.sidebar .custom-sidebar .sidebar-main .menu-1 {
  margin: 20px 0;
  border-bottom: 1px solid #d9d9e9;
}
.sidebar .custom-sidebar .sidebar-main .menu-1 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar .custom-sidebar .sidebar-main .menu-1 ul li {
  border-top: 1px solid #d9d9e9;
}
.sidebar .custom-sidebar .sidebar-main .menu-1 ul li a {
  text-decoration: none;
  width: 100%;
  color: #3e445a;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 600;
  height: 50px;
}
.sidebar .custom-sidebar .sidebar-main .menu-1 ul li a i {
  font-size: 18px;
  margin-right: 15px;
  opacity: 0.7;
  color: #2bbef9;
}
.sidebar .custom-sidebar .sidebar-main .site-copyright {
  padding: 20px;
  opacity: 0.5;
  color: #9b9bb4;
  font-size: 12px;
  border-bottom: 1px solid #d9d9e9;
}
.sidebar .custom-sidebar .sidebar-main .language ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar .custom-sidebar .sidebar-main .language ul li {
  border-top: 1px solid #d9d9e9;
}
.sidebar .custom-sidebar .sidebar-main .language ul li a {
  text-decoration: none;
  width: 100%;
  color: #3e445a;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 600;
  height: 50px;
}

#store-notice {
  position: relative;
  color: #fff;
  background-color: #233a95;
}
#store-notice .container div {
  font-size: 12px;
  text-align: center;
  padding: 9px 15px;
}

.header #header-top .container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header #header-top .container-flex .container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}
.header #header-top .container-flex .container-wrapper .wrapper-form {
  padding: 0 12px;
  width: 100%;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper {
  display: flex;
  font-size: 12px;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-left ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-left ul .li-main {
  margin-left: 15px;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-left ul a {
  color: currentColor;
  text-decoration: none;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right {
  margin-left: 178px;
  padding: 0 20px;
  display: flex;
  height: 40px;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .topbar-notice {
  padding-left: 18px;
  margin-left: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .topbar-notice i {
  font-size: 20px;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .topbar-notice span {
  margin-left: 5px;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .text-content {
  padding-left: 18px;
  margin-left: 18px;
  display: flex;
  align-items: center;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .text-content a {
  text-decoration: none;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .switchers {
  padding-left: 18px;
  margin-left: 18px;
  display: flex;
  align-items: center;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .switchers div ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .switchers div ul .li-left a {
  color: currentColor;
  font-weight: 500;
  text-decoration: none;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .switchers div ul .li-left a i {
  margin-left: 4px;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .switchers div ul .li-right {
  margin-left: 14px;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .switchers div ul .li-right a {
  color: currentColor;
  font-weight: 500;
  text-decoration: none;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .switchers div ul .li-right a i {
  margin-left: 4px;
}
.header #header-main .container {
  max-width: 1200px;
}
.header #header-main .container .row .menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 24px;
}
.header #header-main .container .row .left {
  height: 100%;
  display: flex;
  align-items: center;
}
.header #header-main .container .row .left .img-logo {
  width: 163px;
}
.header #header-main .container .row .left .img-logo .img1 {
  width: 100%;
}
.header #header-main .container .row .left .img-logo .img2 {
  width: 93px;
}
.header #header-main .container .row .left .img-logo span {
  display: block;
  width: 100%;
  font-size: 11px;
  margin-top: 2px;
  opacity: 0.5;
}
.header #header-main .container .row .center {
  display: flex;
  align-items: center;
  height: 100%;
}
.header #header-main .container .row .center .location .location-flex {
  padding: 0 18px;
  display: flex;
  align-items: center;
  border: 1px solid #d9d9e9;
  margin-right: 38px;
  width: 180px;
  border-radius: 7px;
}
.header #header-main .container .row .center .location .location-flex a {
  text-decoration: none;
  min-height: 60px;
}
.header #header-main .container .row .center .location .location-flex a span {
  font-size: 10px;
  opacity: 0.5;
  color: #3e445a;
}
.header #header-main .container .row .center .location .location-flex a .current-location {
  font-size: 14px;
  font-weight: 600;
  color: #233a95;
  padding-right: 20px;
}
.header #header-main .container .row .center .location .location-flex i {
  font-size: 12px;
}
.header #header-main .container .row .center .header-search {
  width: 100%;
  position: relative;
}
.header #header-main .container .row .center .header-search .header-form {
  width: 100%;
}
.header #header-main .container .row .center .header-search .header-form .header-input {
  padding: 0 60px 0 30px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  color: #202435;
  background-color: #f3f4f7;
  font-size: 15px;
  width: 100%;
}
.header #header-main .container .row .center .header-search .header-form .header-button {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 60px;
  height: 100%;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: #f3f4f7;
}
.header #header-main .container .right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.header #header-main .container .right .buttons {
  display: flex;
  align-items: center;
}
.header #header-main .container .right .buttons .profil {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 42px;
  height: 42px;
  border: 1px solid #e2e4ec;
  border-radius: 50%;
}
.header #header-main .container .right .buttons .profil i {
  color: #191a20;
}
.header #header-main .container .right .buttons .money {
  font-size: 16px;
  font-weight: 600;
  margin: 0 10px;
}
.header #header-main .container .right .buttons .shop {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 42px;
  height: 42px;
  border: 1px solid #e2e4ec;
  border-radius: 50%;
  background-color: #fff1ee;
}
.header #header-main .container .right .buttons .shop i {
  color: #ea2b0f;
}
.header #header-bottom .container {
  max-width: 1200px;
}
.header #header-bottom .container .row .all-categories {
  position: relative;
  width: 220px;
  padding-bottom: 10px;
}
.header #header-bottom .container .row .all-categories .categories-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  height: 50px;
  padding: 0 20px;
  color: #fff;
  background-color: #2bbef9;
  border-radius: 50px;
}
.header #header-bottom .container .row .all-categories .active {
  display: block;
}
.header #header-bottom .container .row .all-categories .categories-menu {
  display: none;
  border: 1px solid #d9d9e9;
  min-height: 270px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
}
.header #header-bottom .container .row .all-categories .categories-menu ul {
  list-style: none;
  padding: 24px 0;
  margin: 0;
  min-width: 270px;
}
.header #header-bottom .container .row .all-categories .categories-menu ul li {
  padding: 7px 25px;
  display: flex;
  align-items: center;
  color: #3e445a;
  font-size: 16px;
  font-weight: 500;
}
.header #header-bottom .container .row .all-categories .categories-menu ul li:hover {
  color: #0693e3;
}
.header #header-bottom .container .row .all-categories .categories-menu ul li a i {
  font-size: 18px;
  opacity: 0.8;
  margin-right: 14px;
}
.header #header-bottom .container .row .all-categories .categories-menu ul .li-menu {
  padding-top: 18px;
  margin-top: 18px;
  border-top: 1px solid #d9d9e9;
}
.header #header-bottom .container .row .menu-categories .menu-2 ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.header #header-bottom .container .row .menu-categories .menu-2 ul li a {
  color: #3e445a;
  padding: 0 18px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
  height: 40px;
}
.header #header-bottom .container .row .menu-categories .menu-2 ul li a:hover {
  color: #0693e3;
}
.header #header-bottom .container .row .menu-categories .menu-2 ul li a i {
  margin-right: 7px;
}

.site-footer #footer-subscribe {
  background-color: #233a95;
  color: #fff;
}
.site-footer #footer-subscribe .container {
  max-width: 1200px;
}
.site-footer #footer-subscribe .container .left-text {
  padding: 0 15px;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content h6 {
  margin-bottom: 8px;
  font-weight: 300;
  line-height: 1.2;
  font-size: 16px;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 15px;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content .entry-teaser {
  max-width: 300px;
  opacity: 0.5;
  margin-bottom: 30px;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content .entry-teaser p {
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 16px;
  font-size: 13px;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content .form-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content .form-wrapper form {
  width: 100%;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content .form-wrapper form .form-fields {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content .form-wrapper form .form-fields i {
  position: absolute;
  font-size: 20px;
  color: #c2c2d3;
  left: 20px;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content .form-wrapper form .form-fields .subscribe-input {
  width: 100%;
  background-color: #fff;
  padding-left: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 15px;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content .form-wrapper form .form-fields .submit {
  position: absolute;
  background-color: #233a94;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  padding: 0 20px;
  right: 4px;
  top: 4px;
  bottom: 4px;
}
.site-footer #footer-subscribe .container .img {
  height: 100%;
  padding: 0 15px;
}
.site-footer #footer-subscribe .container .img .subscribe-image {
  display: flex;
  height: 100%;
}
.site-footer #footer-subscribe .container .img .subscribe-image img {
  max-width: 100%;
}
.site-footer #footer-iconboxes {
  background-color: #f7f8fd;
}
.site-footer #footer-iconboxes .container {
  max-width: 1200px;
}
.site-footer #footer-iconboxes .container .wrapper {
  border-bottom: 1px solid #e4e5ee;
}
.site-footer #footer-iconboxes .container .iconbox {
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.site-footer #footer-iconboxes .container .iconbox .iconbox-icon {
  margin-right: 15px;
  font-size: 21px;
}
.site-footer #footer-iconboxes .container .iconbox .iconbox-detail span {
  font-size: 14px;
  font-weight: 500;
}
.site-footer #footer-widgets {
  background-color: #f7f8fd;
}
.site-footer #footer-widgets .border-enable {
  border-top: 1px solid #e4e5ee;
}
.site-footer #footer-widgets .container {
  max-width: 1200px;
}
.site-footer #footer-widgets .container .menu {
  padding: 0 15px;
  font-size: 13px;
  margin-bottom: 35px;
}
.site-footer #footer-widgets .container .menu h4 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 15px;
  line-height: 1.2;
}
.site-footer #footer-widgets .container .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
}
.site-footer #footer-widgets .container .menu ul a {
  color: #71778e;
}
.site-footer #footer-contacts {
  padding: 46px 0;
}
.site-footer #footer-contacts .container {
  max-width: 1200px;
}
.site-footer #footer-contacts .container .row .site-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.site-footer #footer-contacts .container .row .site-phone .phone-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e4e5ee;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 4px;
  font-size: 18px;
  padding: 10px;
}
.site-footer #footer-contacts .container .row .site-phone .phone-detail h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 3px;
}
.site-footer #footer-contacts .container .row .site-phone .phone-detail span {
  color: #202435;
  font-size: 10px;
  opacity: 0.5;
}
.site-footer #footer-contacts .container .row .site-mobile-app {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.site-footer #footer-contacts .container .row .site-mobile-app .app-content {
  margin-right: 20px;
  text-align: center;
}
.site-footer #footer-contacts .container .row .site-mobile-app .app-content h6 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}
.site-footer #footer-contacts .container .row .site-mobile-app .app-content span {
  color: #202435;
  opacity: 0.5;
  font-size: 12px;
}
.site-footer #footer-contacts .container .row .site-mobile-app .app-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.site-footer #footer-contacts .container .row .site-social {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.site-footer #footer-contacts .container .row .site-social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-footer #footer-contacts .container .row .site-social ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e4e5ee;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.site-footer #footer-bottom .border-enable {
  border-top: 1px solid #e4e5ee;
  padding: 30px 15px;
}
.site-footer #footer-bottom .container {
  max-width: 1200px;
}
.site-footer #footer-bottom .container .row p {
  font-size: 12px;
  margin: 0;
  letter-spacing: 0.1px;
  line-height: 1.5;
  font-size: 400;
  color: #9b9bb4;
}
.site-footer #footer-bottom .container .row .site-menu {
  color: #9b9bb4;
}
.site-footer #footer-bottom .container .row .site-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-footer #footer-bottom .container .row .site-menu ul li {
  margin-left: 10px;
}
.site-footer #footer-bottom .container .row .site-payments img {
  max-width: 100%;
}/*# sourceMappingURL=style.css.map */